@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  width: 100%;
}

main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 2%;
}

.swiper-slide {
  display: flex !important;
}

.swiper-wrapper {
  overflow: visible;
}

.swiper-wrapper:first-child {
  width: 440px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #5B5B5B !important;
  width: 15px !important;
  height: 28px !important;
}


.swiper-button-next.me-6::after {
  content: '' !important;

}

.swiper-pagination-bullet:first-child {
  background-color: #fde047;
}

.swiper-pagination-bullet:last-child {
  background-color: #f9a8d4;
}

.main-product {
  width: 127px !important;
  height: 400px !important;
}

.fill-available {
  width: -webkit-fill-available;
  width: 100%;
}

summary::marker {
  color: transparent;
}

.banner-animation {
  animation: moveLeftRight 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate; /* animation name, duration, timing function, iteration count, direction */
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  100% {
    left: 50px; /* Moves the div to the right end of its container */
  }
}

@media only screen and (max-width: 480px) {
  .main-product {
    width: 340px !important;
    height: 360px !important;
  }
}