@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
}

main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 2%;
}

.swiper-slide {
  display: flex !important;
}

.swiper-wrapper {
  overflow: visible;
}

.swiper-wrapper:first-child {
  width: 440px !important;
}

.swiper-button-lock {
  display: block !important;
}